.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filters {
  width: 40%;
}

.results {
  width: 60%;
}

.header {
  display: flex;
  flex-direction: column;
}

.datum-creator {
  display: flex;
  flex-direction: column;
}

.datum-label {
  margin-top: 15px;
  margin-bottom: 15px;
}
