.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filters {
  width: 40%;
}

.results {
  width: 60%;
}

.header {
  display: flex;
  flex-direction: column;
}

.datum-creator {
  display: flex;
  flex-direction: column;
}

.datum-label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.results-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-image {
  width: 250px;
}

.result-cell {
  margin: 10px;
  width: 250px;
  font-weight: 600;
}

.item-select {
  margin: 10px;
}

.single-select {
  width: 100%;
}
