.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filters {
  width: 40%;
}

.results {
  width: 60%;
}

.header {
  display: flex;
  flex-direction: column;
}

.datum-creator {
  display: flex;
  flex-direction: column;
}

.datum-label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.results-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video-image {
  max-width: 250px;
  cursor: pointer;
}

.main-video-image {
  max-width: 400px;
  cursor: pointer;
}

.result-cell {
  margin: 10px;
  width: 250px;
  font-weight: 600;
}

.main-result-cell {
  margin: 10px;
  width: 400px;
  font-weight: 600;
}

.filters-container {
  min-width: 150px;
}

/* Will space all children of class */
.filters-container > * {
  width: 100%;
  margin: 30px 0;
}

.MuiInputBase-root {
  width: 100%;
}

.all-results {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-result {
  margin-bottom: 100px;
  margin-top: 100px;
}

.main-single-result {
  display: flex;
  justify-content: center;
}

.single-result {
  display: flex;
  justify-content: center;
}
